<div class="previsaoNotas marginBottom">
  <div class="header">
    <div class="img"><img src="../../assets/passei-direto.png"></div>
    <h5>Passe <span class="blue">direto</span> com estas notas</h5>
  </div>
  <div class="tabelaDeNotas">
    <table>
      <tbody>
        <tr>
          <td>1ª Avaliação</td>
          <td><span>9.9</span></td>
        </tr>
        <tr>
          <td>2ª Avaliação</td>
          <td><span>9.9</span></td>
        </tr>
        <tr>
          <td>3ª Avaliação</td>
          <td><span>9.9</span></td>
        </tr>
        <tr>
          <td style="border-bottom: none;">4ª Avaliação: EDAG</td>
          <td style="border-bottom: none;"><span>9.9</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
